[Unit]
Description=cassandra-dev
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill cassandra_cluster
ExecStartPre=-/usr/bin/docker rm cassandra_cluster
ExecStart=/usr/bin/docker run --name cassandra_cluster -e CASSANDRA_CLUSTERNAME="cluster" -e CASSANDRA_SEEDS=10.244.8.2 cassandra
ExecStopPost=/usr/bin/docker stop cassandra_cluster
